In [1]:
import pandas as pd
import json as js
from glob import glob

In [2]:
ls_files = glob("./históricos/*.json")

In [42]:
ls_files

['./históricos/meteorología_2020.json',
 './históricos/meteorología_2015.json',
 './históricos/meteorología_2017.json',
 './históricos/meteorología_2016.json',
 './históricos/meteorología_2023.json',
 './históricos/meteorología_2014.json',
 './históricos/meteorología_2013.json',
 './históricos/meteorología_2022.json',
 './históricos/meteorología_2019.json',
 './históricos/meteorología_2018.json',
 './históricos/meteorología_2021.json']

In [31]:
ls_data = []
for file in ls_files:
    with open(file, "r") as f:
        data = js.load(f)
    for fecha in data["pollutionMeasurements"]["date"].keys():
        for measure in data["pollutionMeasurements"]["date"][fecha].keys():
            aux = pd.DataFrame(index = data["pollutionMeasurements"]["date"][fecha][measure].keys(), data=data["pollutionMeasurements"]["date"][fecha][measure].values())
            aux["fecha"] = fecha
            aux["measure"] = measure
            ls_data += [aux]

In [37]:
df = pd.concat(ls_data).reset_index().rename(columns={0: "valor"})

In [40]:
df["valor"] = pd.to_numeric(df["valor"], errors="coerce")

In [41]:
df

        index  valor             fecha measure
0         ACO   70.0  2020-01-01 01:00      RH
1         AJU    NaN  2020-01-01 01:00      RH
2         MON   65.0  2020-01-01 01:00      RH
3         CHO   65.0  2020-01-01 01:00      RH
4         CUA   51.0  2020-01-01 01:00      RH
...       ...    ...               ...     ...
8924011   GAM    1.1  2021-12-31 24:00     WSP
8924012   LAA    0.7  2021-12-31 24:00     WSP
8924013   FAR    1.1  2021-12-31 24:00     WSP
8924014   SAC    4.3  2021-12-31 24:00     WSP
8924015   MER    NaN  2021-12-31 24:00     PBa

[8924016 rows x 4 columns]